@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Marcellus&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    margin: 0;
    margin-top: 0;
    color: #36454F;
    background-color: rgb(211, 211, 211, .1);
}

h1,
h2,
h3 {
    font-family: marcellus, sans-serif;
    font-weight: 300;
    color: #36454F;
}

#logo {
    float: left;
    font-size: 220%;
    margin-left: 45px;
    letter-spacing: 4px;


}

/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    margin-right: 45px;

}


#menu,
#logo {
    line-height: 90px;
    vertical-align: middle;



}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;


}

#menu a {
    text-decoration: none;
    color: inherit;
}



#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero-image */

#hero-image {
    background: url("../images/main-image.jpg") no-repeat center center;
    height: 975px;
    width: 100%;
    background-size: cover;
    overflow: visible;
    margin: 0;
    padding: 0;
    outline: 0;
    margin-top: 0;

}

/* ethos */



#ethos {
    width: 100%;
    height: 600px;
    margin-top: 125px;
    padding-left: 25px;
}





#ethos h1 {

    width: 900px;
    font-size: 220%;
    letter-spacing: 2px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    float: left;
}



#ethos p {
    margin-top: 20px;
    width: 500px;
    margin-left: 300px;
    font-weight: 700;
    font-size: 125%;
    line-height: 150%;
    letter-spacing: 1px
}


#sunset-img {
    width: 35%;
    height: 80%;
    margin-right: 60px;
    float: right;
}


/* offers */

#image-1 {
    width: 200px;
    height: 200px;
    background: url("../images/yoga-class.jpg");
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 25px;
    border-radius: 50%;

}

#image-2 {
    width: 200px;
    height: 200px;
    background: url("../images/veg.jpg");
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 25px;
    border-radius: 50%;
}

#image-3 {
    width: 200px;
    height: 200px;
    background: url("../images/surf.jpg");
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 25px;
    border-radius: 50%;
}

#image-4 {
    width: 200px;
    height: 200px;
    background: url("../images/cabin.jpg");
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 25px;
    border-radius: 50%;
}

#offers>div {
    width: 25%;
    height: 500px;
    float: left;
    padding: 40px 30px 0 30px;
    text-align: center;
    box-sizing: border-box;
    background-color: #36454F;
    color: beige;
}

#offers p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

#offers h3 {
    color: beige;
    margin-bottom: 10px;
}




/* video */

.video-container {
    clear: both;
    margin: 0 auto;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    border: 0;
  }





/* footer */

footer {
    height: 150px;
    margin-top: 150px;
    clear: both;
    
}

.social {
    text-align: center;
}




.social>li {
    display: inline;
    color: #36454F;
   
}

.social i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    overflow: hidden;
}


/* gallery */


#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}


/* contact page */

.contact-section {

    background: url("../images/contact-image1.jpg");
    height: 1000px;
    background-size: cover;
    width: 100%;
    overflow: visible;
    margin: 0;
    padding: 0;
    outline: 0;
    margin-top: 0;
}

.contact-section div {
    overflow: hidden;
    clear: left;
    margin-left: 45px;
    padding-top: 250px;

}


.contact-section h2 {

    letter-spacing: 1.5px;
}



.contact-section p {

    margin-top: 20px;
    letter-spacing: 1px;
    
}

.input-style {
    border-radius: 8px;
    margin-top: 10px;
    width: 250px;
    height: 25px;
    letter-spacing: 1px;
    padding: 5px;
    font-family: lato, sans-serif;
    font-weight: 300;


}





/* media queries */

/* media queries - screens  up to 1555 width */

@media screen and (max-width: 1555px) {

    #ethos {
        width: 90%;
        text-align: center;
        padding: 0;
        margin: 25px auto;

    }

    #sunset-img {
        width: 500px;
        height:auto;
        float: unset;
        padding: 0;
        margin: auto;
        margin-top: 90px;
    }


    #ethos h1 {
        font-size: 190%;
        letter-spacing: 2px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 50px;
        float: unset;
        clear: unset;

    }

    #ethos h1 {
        float: unset;
        width: 100%;

    }


    #ethos p {
        float: unset;
        clear: unset;
        margin: auto;
        margin-top: 20px;
        font-weight: 700;
        font-size: 110%;
        line-height: 150%;
        letter-spacing: 1px;
        max-width: 100%;
        
    }


    #offers {
        margin-top: 350px;


    }

}

/* media queries - screens  up to 1200 width */


@media screen and (max-width: 1200px) {

    #ethos {
        width: 90%;
        text-align: center;
        padding: 0;
        margin: 25px auto;
    }

    #sunset-img {
        width: 500px;
        height: 400px;
        float: unset;
        padding: 0;
        margin: auto;
        margin-top: 90px;
    }


    #ethos h1 {
        font-size: 150%;
        letter-spacing: 2px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 50px;
        float: unset;
        clear: unset;

    }

    #ethos h1 {
        float: unset;
        width: 100%;

    }


    #ethos p {
        float: unset;
        clear: unset;
        margin: auto;
        margin-top: 20px;
        font-weight: 700;
        font-size: 17px;
        line-height: 150%;
        letter-spacing: 1px;
        max-width: 100%;
    }

    #offers {
        margin-top: 350px;
    }

   
   
   
   
    #offers>div {
        width: 50%
        
    }

    #offers p {
        width: 50%;
        margin: 0 auto;
    }

}

    /* media queries - screens up to 950 */

    @media screen and (max-width: 950px) {




        #menu {
            clear: left;
            float: left;
            margin-left: 5%;
            margin-bottom: 20px;
            line-height: 25px;
            font-size: 110%;
        }

        #logo {
            float: left;
            font-size: 190%;
            margin-left: 5%;
            letter-spacing: 4px;
            margin-top: 25px;
            width: 90%;

        }

        #menu,
        #logo {
            line-height: 40px;
        }


        #hero-image {
            clear: both;
            width: 90%;
            height: 600px;
            background-size: cover;
            overflow: hidden;
            margin: 0 auto;
            padding: 0;
            outline: 0;
            margin-top: 0;
        }

        #ethos {
            width: 90%;
            text-align: center;
            padding: 0;
            margin: 25px auto;
        }
    
        #sunset-img {
            width: 300px;
            height: auto;
            float: unset;
            padding: 0;
            margin: auto;
            margin-top: 90px;
        }
    
    
        #ethos h1 {
            font-size: 20px;
            letter-spacing: 2px;
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom: 50px;
            float: unset;
            clear: unset;
        }
    
        #ethos h1 {
            float: unset;
            width: 100%;
        }
    
    
        #ethos p {
            float: unset;
            clear: unset;
            margin: auto;
            margin-top: 20px;
            font-weight: 700;
            font-size: 17px;
            line-height: 150%;
            letter-spacing: 1px;
            max-width: 100%;
        }
    
    
        
            
        #offers {
            margin-top: 250px;
        }

        #image-1,
        #image-2,
        #image-3,
        #image-4,
        #image-5 {
            width: 140px;
            height: 140px;
        }

        #offers>div {
            width: 90%;
            height: 500px;
            margin: 0 auto;
            margin-left: 5%;
            border-bottom: .5px solid beige;
        }

        #offers p {
            margin: 0 auto;
            font-size: 85%;
        }

        .contact-section {
            background-position: center;
            height: 800px;
            width: 90%;
            overflow: hidden;
            margin: 0 auto;
            margin-top: 0;
        }

        .contact-section div {
            margin-left: 30px;
        }




        #photos {
            width: 90%;
            margin: 0 auto;
            
        }

        .video-container {
            width:90%;
            
        }
        .video-container iframe {
            
            margin: 0 auto;
            margin-top: 90px;
            

        }
 }


            



    
        
    